<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="ManagersConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=SERVER02\mobi2016;Initial Catalog=Strauss;User ID=sa;Password=wiz" />
  </connectionStrings>
  <appSettings>
    <!--<add key="ttl" value="20000"/>-->
    <add key="ttl" value="none" />
    <!--<add key="hostname" value="10.0.0.5"/>-->
    <add key="hostname" value="localhost" />
    <!--<add key="hostname" value="10.0.0.115" />-->
    <add key="exchangeName" value="managerApp1" />
    <add key="queueNameGlobal" value="managerAppQ1" />
    <add key="usernameRMQ" value="test" />
    <add key="passwordRMQ" value="test" />
    <!--<add key="portRMQ" value="7035" />-->
    <add key="portRMQ" value="7080" />
    <add key="FCMApp" value="C:\Development\FCMNode\app.js"></add>
    <add key="FCMchannelId" value="com.straussManagers.push" />
    <add key="notificationMessageManagerApprove" value="קיבלת בקשות חדשות" />
    <add key="managerTimeoutMin" value="20" />
    <add key="historyDays" value="7" />
    <add key="numberOfManagers" value="5" />
    <add key="useSSL" value="false" />
    <!-- regular timeout is 10 min set via ttl command -->
    <add key="shortTimeoutSec" value="10" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>