<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>

    <target name="console" xsi:type="Console" layout="${longdate}|${message}"/>
    <target xsi:type="File"
    name="ownFile-web"
    fileName="C:\Development\ManagersApprove\ManagersApprove\TestNotifications\bin\Debug\Logs\nlog-web-${shortdate}.log"
    layout="${longdate}|${event-properties:item=EventId_Id}| [${uppercase:${level}}]${newline} CallProcess: ${callsite}${newline}Message: ${message}${onexception:${newline}EXCEPTION:${exception:format=tostring}}${newline}-------${newline}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="ownFile-web" />
  </rules>
</nlog>
